* {
    margin: 0;
    padding: 0;
  }
  :root{
    --bg-color: #fff;
  --line-color-1: rgba(112, 112, 112, 0.2);
  --line-color-2: #a9a9a979;
  }
  
.playground{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;

  .container{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    flex: 1;
    .leftbar{
      width: 18%;
      min-width: 336px;
      height: 100%;
      box-shadow: 2px 0 2px  lightgray;
      z-index: 2;
    }
    .svg{
      z-index: 1;
      flex: 1;
      height:100%;
      position: relative;
      width: max-content;
      .menu{
        position: fixed;
        right: 2rem;
        top: 6rem;
        display: flex;
        flex-direction: row-reverse;
        z-index: 2;
      }
      svg{
        /* width: 200%;
        height: 100%; */
        background-color: var(--bg-color);
        background-image: 
        conic-gradient(at calc(100% - 1px) calc(100% - 1px),var(--line-color-1) 270deg, #0000 0),
        conic-gradient(at calc(100% - 1px) calc(100% - 1px),var(--line-color-1) 270deg, #0000 0);
        background-size: 5px 5px, 1px 1px;
        g{
          cursor: all-scroll;
        }
      }
    }
  }
}
  