.card-container{
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px #3A3A3A14;
    border: 1px solid #70707033;
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .name{
            display: flex;
            gap: 0.5em;
            text-wrap: nowrap;
            align-items: center;
        }
        .options{
            display: flex;
            gap: 0.5em;
        }
    }

    .ItemsList{
        max-height : auto;
        transition: max-height 0.25s ease-out;
        .listItem{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding : 0.3em 1em;
            text-wrap: nowrap;
        }
    }

    .collapsed{
        max-height: 0;
        width: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-out;
    }
}